#AnchorPane{
    -fx-background-color: #110E0E;
}

#pane_1{
    -fx-background-color: #150A0A;
    -fx-border-color: #F7A34A;
    -fx-border-style: solid;
}

#text_field_1{

    -fx-background-color: #110E0E;
    -fx-border-color: #F7A34A;
    -fx-text-fill: #F7A34A;
    -fx-prompt-text-fill: #F7A34A;

}

#password_field_1{
    -fx-background-color: #110E0E;
    -fx-border-color: #F7A34A;
    -fx-text-fill: #F7A34A;
    -fx-prompt-text-fill: #F7A34A;
}

#button_entrar{

    -fx-background-color: #110E0E;
    -fx-border-color: #F7A34A;
    -fx-text-fill: #F7A34A;

}

#label_esqueci_senha{
    -fx-font-weight: bold;
}

#label_realizar_cadastro{
    -fx-font-weight: bold;
}
